
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Furniture managment</title></head>
    <body>
        <form method="get" action="/Room/Create">
            <label>Your furnitures name:</label>
            <br />
            <input type="number" min="1" max="2000" name="width" />
            <br />
            <label>Your furnitures width:</label>
            <br />
            <input type="number" min="1" max="2000" name="width" />
            <br />

            <label>Your furnitures height</label>
            <br />
            <input type="number" min="1" max="2000" name="height" />
            <br />

            <input type="submit" value="Send" />
        </form>
    </body>
</html>